[Unit]
Description=ARM Forensic Acquisition Engine & Web Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/pi-forensics

# Basic Auth Credentials for Remote Web Access
Environment="FORENSIC_USER=admin"
Environment="FORENSIC_PASS=forensics"

#ExecStart=/usr/bin/python3 /opt/pi-forensics/app.py
#Changed to using venv
ExecStart=/opt/pi-forensics/venv/bin/python /opt/pi-forensics/app.py
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
